@import "tailwindcss";

:root {
  --background: var(--color-Arambo-Background);
  --foreground: #171717;

  /* Font families */
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-arial: Arial, Helvetica, sans-serif;

  /* Default choice (you can switch this later easily) */
  --font-family-sans: var(--font-helvetica);
}

@theme {
  --color-Arambo-Accent: #1946bb;
  --color-Arambo-White: #ffffff;
  --color-Arambo-Black: #0a0a0a;
  --color-Arambo-Background: #f6f7f9;
  --color-Arambo-Text: #6f7176;
  --color-Arambo-Border: #ecedee;
}

.body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
}

.display-110-medium {
  font-size: var(--display-110-medium-size);
  font-weight: var(--display-110-medium-weight);
  line-height: var(--display-110-medium-line-height);
  font-family: var(--font-family-sans);
}

/* Heading classes */
.h1 {
  @apply md:text-[56px] text-[36px] font-semibold leading-[normal];
}

.h2 {
  @apply text-[28px] md:text-[44px] font-semibold leading-[normal];
}

/* Headings */
.h3 {
  @apply text-[24px] md:text-[32px] font-medium leading-[normal];
}

.h4 {
  @apply text-[20px] md:text-[24px] font-medium leading-[normal];
}

.h5 {
  @apply text-[18px] md:text-[20px] font-semibold leading-[normal];
}

.h6 {
  @apply text-[16px] md:text-[18px] font-medium leading-[normal];
}

/* Paragraphs */
.p-xl {
  @apply text-[17px] md:text-[20px] font-normal leading-[1.5];
}

.p-lg {
  @apply text-[16px] md:text-[18px] font-normal leading-[1.5];
}

.p-base {
  @apply text-[15px] md:text-[16px] font-normal leading-[1.5];
}

.p-md {
  @apply text-[14px] font-normal leading-[1.4];
}

/* Labels */
.label-18 {
  @apply text-[16px] md:text-[18px] font-normal leading-[1.32];
}

.label-16 {
  @apply text-[15px] md:text-[16px] font-normal leading-[1.5];
}

.feature {
  @apply text-[14px] md:text-[16px] font-normal leading-[1.32];
}

/* Buttons & NavLinks */
.button-label {
  @apply text-[14px] md:text-[16px] font-normal leading-[1.5];
}

.nav-link {
  @apply text-[18px] md:text-[16px] font-normal leading-[1.24];
}

/* Captions */
.caption-12 {
  @apply text-[12px] font-normal leading-[1.5];
}

.caption-14 {
  @apply text-[14px] font-normal leading-[1.5];
}

/* Homepage scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: inline-flex;
  will-change: transform;
  animation: scroll 20s linear infinite;
}
